langchain
langchain-core
langchain-community
langchain-openai
python-dotenv
langchain-tavily

langgraph
langgraph-checkpoint

langsmith

mcp

PyPDF
PyMuPDF

langchain-huggingface
sentence-transformers
faiss-cpu
chromadb
sklearn